.loginBackgroundPage {
  background: url('https://images.unsplash.com/photo-1604999333679-b86d54738315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1525&q=80');
  background-size: cover;
}

#myVideo {
  position: relative;
  left: -50px;
  bottom: 0;
  top: -160px;
  min-width: 125%;
  min-height: 100%;
}
.mainTitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  margin-bottom: 40px;
}