.loginBackgroundPage {
  background: url('https://images.unsplash.com/photo-1604999333679-b86d54738315?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1525&q=80');
  background-size: cover;
}

#myVideo {
  position: relative;
  left: -50px;
  bottom: 0;
  top: -160px;
  min-width: 125%;
  min-height: 100%;
}
.mainTitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  margin-bottom: 40px;
}
.movies_row {
  overflow-y: hidden;
  overflow-x: scroll;
}

.movies_row::-webkit-scrollbar {
  display: none;
}

.movie_row {
  max-height: 230px;
  object-fit: contain;
  /* width: 200px; */
  border-radius: 20px;
  transition: transform 450ms;
}

.movie_row:hover {
  transform: scale(1.1);
  opacity: 1;
}

.example::-webkit-scrollbar {
  display: none;
}

.slickk-arrow {
  color: black;
  background-color: red;
}

.slick-prev {
  z-index: 100;
  left: 20px !important;
}

.slick-next {
  z-index: 100;
  right: 20px !important;
}